
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: radial-gradient(ellipse at bottom, #0d1b2a, #000000);
  color: #ffffff;
  line-height: 1.6;
  background-attachment: fixed;
}


header {
  text-align: center;
  padding: 30px 50px;
  background: linear-gradient(to bottom, #001f3f, #000);
  box-shadow: 0 0 25px rgba(0, 150, 255, 0.2);
}

header h1 {
  color: #aadfff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;

}

.subtitle {
  font-size: 1.1em;
  color: #aadfff;
  margin-bottom: 15px;
}


nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.3s;
}
nav a:hover {
  background-color: rgba(0, 150, 255, 0.2);
}


.card {
  background: rgba(255, 255, 255, 0.05);
  margin: 40px auto;
  padding: 30px;
  width: 85%;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 150, 255, 0.15);
}


.about-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.about p{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.foto-saya {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid #7fd0ff;
  box-shadow: 0 0 20px rgba(127, 208, 255, 0.5);
  object-fit: cover;
}


.skills span {
  display: inline-block;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 20px;
  background: rgba(0, 150, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 150, 255, 0.3);
  color: #aadfff;
  font-weight: bold;
}


.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.project {
  background: rgba(0, 150, 255, 0.15);
  border: 1px solid rgba(127, 208, 255, 0.3);
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.project:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(127, 208, 255, 0.4);
}


.email {
  text-align: center;
  font-size: 1.2em;
  color: #7fd0ff;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 150, 255, 0.3);
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  box-shadow: 0 0 15px rgba(0, 150, 255, 0.2);
}


footer {
  text-align: center;
  padding: 25px 10px;
  background-color: #00111f;
  color: #aaddee;
  border-top: 1px solid rgba(0, 150, 255, 0.2);
}
